main{
    font-family: 'Ubuntu', sans-serif;
    background-color: $bg;
        h2{
            color: $titulo;
        }
        h5{
            color: $titulo;
        }
        p{
            color: $letrap
        }
        .btn{
            color: $titulo;
            background-color: $btn;
            border-color: $btn;
         
            &:hover{
                color: $lethover;
                background-color: $titulo;
                border-color: $letrap;
    
            }
        }    
    }