*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Teko', sans-serif;
}
main{
    font-family: 'Ubuntu', sans-serif;
}

footer{
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
}

.bi-instagram{
    color: #bdbdbd;
}
.bi-instagram:hover{
    color:#f37547;
}
.bi-whatsapp{
    color: #bdbdbd;
}
.bi-whatsapp:hover{
    color:#f37547;
}
.bi-spotify{
    color: #bdbdbd;
}
.bi-spotify:hover{
    color:#f37547;
}
.bi-envelope{
    color: #bdbdbd;
}
.bi-envelope:hover{
    color:#f37547;
}
.red{
    color: #bdbdbd;
}
.bg-nar{
    background-color: #bdbdbd;
}
.btn-nar {
    color:#000000;
    background-color: #f37547;
    border-color: #f37547;
}
.btn-nar:hover {
    color: whitesmoke;
    background-color: #000000;
    border-color: #000000;
}

.nav-link:hover{
    background-color: #f37547;
}

.rem1{
    opacity: 0.9;
    transition: all 2s;
}

.rem1:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem2{
    opacity: 0.9;
    transition: all 2s;
}

.rem2:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem3{
    opacity: 0.9;
    transition: all 2s;
}

.rem3:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem4{
    opacity: 0.9;
    transition: all 2s;
}

.rem4:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem5{
    opacity: 0.9;
    transition: all 2s;
}

.rem5:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem6{
    opacity: 0.9;
    transition: all 2s;
}

.rem6:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem7{
    opacity: 0.9;
    transition: all 2s;
}

.rem7:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}
.rem8{
    opacity: 0.9;
    transition: all 2s;
}

.rem8:hover{
    transform: scale(1.1, 1.1);
    opacity: 1;
}


@media only screen and (min-width:600px){

    .contenedor2{
        margin-top: 1fr;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 3fr 3fr 3fr;
        gap: 10px;
        grid-template-areas:
         "rem1 rem2 rem3"
         "rem4 rem5 rem6"
         "rem7 rem8 rem9"
        
    }
    .rem1{
        grid-area: rem1;
        width: 33vw;
    }
    .rem2{
        grid-area: rem2;
        width: 33vw;
    }
    .rem3{
        grid-area: rem3;
        width: 33vw;
    }
    .rem4{
        grid-area: rem4;
        width: 33vw;
    }
    .rem5{
        grid-area: rem5;
        width: 33vw;
    }
    .rem6{
        grid-area: rem6;
        width: 33vw;
    }
    .rem7{
        grid-area: rem7;
        width: 33vw;
    }
    .rem8{
        grid-area: rem8;
        width: 33vw;
    }

}

@media only screen and (max-width:600px){
    
    .contenedor2{
        margin-top: 1fr;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 3fr 3fr 3f 3fr;
        gap: 10px;
        grid-template-areas:
         "rem1 rem2"
         "rem3 rem4"
         "rem5 rem6"
         "rem7 rem8"
        
    }
    .rem1{
        grid-area: rem1;
        width: 50vw;
    }
    .rem2{
        grid-area: rem2;
        width: 50vw;
    }
    .rem3{
        grid-area: rem3;
        width: 50vw;
    }
    .rem4{
        grid-area: rem4;
        width: 50vw;
    }
    .rem5{
        grid-area: rem5;
        width: 50vw;
    }
    .rem6{
        grid-area: rem6;
        width: 50vw;
    }
    .rem7{
        grid-area: rem7;
        width: 50vw;
    }
    .rem8{
        grid-area: rem8;
        width: 50vw;
    }

}

